<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <img src="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg">  
  <br>
  <br>

  <br>
  <br>

  <a href="/signin" >Sign-in</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="/signup">Sign-up</a>
  
</body>
</html>