<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    </form>

    <h1>News users SIGN UP here </h1>
    <div class="signup">
    <form action="/signup" method="POST">
        <input type="email" id="email" placeholder="Email"name="email"><br>
        <input type="text" id="name" placeholder="Name" name="username"><br>
        <input type="Password" id="pass" placeholder="Password" name="password"><br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
