*{
    background-color: black;
    opacity:0.95;
    color: white;
    margin: 0;
    padding: 0;
}
login{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
input{
    margin-bottom: 5px;
    height:50px;
    width:65%;
    background-color: white;
    color:black;
    
    
}
button{
   background-color: orangered;
    border-radius: 10%;
}

.signin{
    margin: 25px 50px 25px 50px;
}